.layoutflow {
    flex-grow: 1;
    position: relative;
  }
  
  .layoutflow .controls {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
  }

  .graph-left {
    width: 75%;
  }
  
  .graph-right {
    width: 25%;
  }

  .graph-row {
    height: 100%;
    display: flex;
  }